/* 화면 작아지면 그냥 날짜랑 투두리스트만 보이게 */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 75em) {
  .todo {
    font-size: 2rem;
  }
  .todo__form__input {
    font-size: 1.8rem;
  }
}

/* 1024px */
@media (max-width: 64em) {
  .container {
    padding: 2rem 2.5rem 4rem 2.5rem;
  }
}

/* 768px */
@media (max-width: 48em) {
  .todo {
    font-size: 1.8rem;
  }
  .container {
    width: 90vw;
    padding: 2rem 3rem 5rem 3rem;
  }
  .hour {
    font-size: 1rem;
  }
}

/* 576px */
@media (max-width: 36em) {
  .container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 70vh;
    max-height: 60rem;
    padding: 2rem 2rem 6rem 2rem;
    row-gap: 1rem;
  }
  .date {
    font-size: 2rem;
    padding: 1rem;
  }
  .todo {
    height: 92%;
  }
  .todo__lists {
    height: calc(90% - 1rem);
    padding: 2rem;
  }
  .time-table {
    display: none;
  }
  .color--container {
    padding: 0 2rem;
    width: 95%;
    overflow-x: auto;
  }
  .color--container__color {
    min-width: 2.5rem;
  }
  .todo__form__input {
    min-height: 3rem;
    font-size: 1rem;
  }
  .todo__form__btn {
    min-width: 3rem;
    min-height: 3rem;
  }
  .save--btn {
    font-size: 1.8rem;
  }
}
