* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 0.625em;
}
body {
  padding: 3rem 0;
  display: flex;
  background-color: #8b80f9;
}
.wrapper {
  position: relative;
  height: 100%;
}

/* Container */

/* pseudo */
.container:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  display: block;
  width: 99.9%;
  height: 100%;
  z-index: -1;
  box-shadow: 0 0 0 3px #000000;
  border-radius: 15px;
  background-color: #ffffff;
}
.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: block;
  width: 99.9%;
  height: 100%;
  z-index: -2;
  box-shadow: 0 0 0 3px #000000;
  border-radius: 15px;
  background-color: #ffffff;
  filter: drop-shadow(0px 9px 4px rgba(0, 0, 0, 0.25));
}
.container {
  margin: auto;
  position: relative;
  border: 3px solid #000000;
  width: 70vw;
  max-width: 85rem;
  max-height: 86rem;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 2rem 5rem 6rem 5rem;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 1fr 8fr;
  row-gap: 2rem;
  column-gap: 1.8rem;
}

/* Color */
.color--container {
  position: absolute;
  display: flex;
  gap: 3px;
  bottom: 1rem;
  right: 1rem;
}
.color--container__color {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/* Date */
.date {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: "Cafe24Ssurround";
  font-size: 3rem;
  gap: 2.5rem;
  letter-spacing: 2px;
}

/* Todo */
.todo {
  position: relative;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 0 3px #000000;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 2.5rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
}
.todo__lists {
  height: calc(90% - 2rem);
  padding: 3rem 2rem 0 2rem;
  overflow-y: auto;
}

.list__subject {
  width: 100%;
  color: #594c6d;
  cursor: pointer;
  padding: 1rem 0;
}
.close--btn {
  padding: 1px;
  cursor: pointer;
}
.close--btn:hover {
  background-color: #594c6d;
  border-radius: 50%;
  color: #ffffff;
}
.list__checkbox {
  border: 1px solid #70697a;
  flex-grow: 0;
  flex-shrink: 0;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  color: #424259;
  cursor: pointer;
}
.todo__form {
  height: 10%;
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 1.7rem;
  display: flex;
  gap: 1rem;
}
.todo__form__input {
  width: 100%;
  background: #cdcbda;
  border-radius: 13px;
  border: 3px solid #000000;
  font-family: "Cafe24Ssurround";
  font-size: 2.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: -1.1px;
}
.todo__form__btn {
  cursor: pointer;
  min-width: 5rem;
  min-height: 5rem;
  background: #7165e3;
  border-radius: 13px;
  color: #ffffff;
  border: 3px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Timetable */
.time-table__grid {
  padding: 10% 5%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 0 3px #000000;
}
.mins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.mins div:nth-child(7n) {
  flex-basis: 10%;
  padding-left: 5%;
}
.mins__container {
  flex-basis: 12.5%;
}
.mins__container__min {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
.min {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: #d8d5de;
  cursor: pointer;
}
.hour {
  font-family: "Cafe24Ssurround";
  color: #4b4b4b;
  font-size: 1.2rem;
  background: none;
  border: none;
  /* 블럭 안 잡히게 */
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.min--color {
  background: #dddddd;
}
.min--color--added {
  background-color: #7165e3;
}

.save--btn {
  font-family: "Cafe24Ssurround";
  font-size: 2rem;
  position: absolute;
  background: #7165e3;
  border-radius: 13px;
  color: #ffffff;
  border: 3px solid #000000;
  background-color: #7165e3;
  cursor: pointer;
  bottom: -7rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 7rem;
  height: 5rem;
}
